<app-header title="Seleccion de eqipo">



</app-header>


<ion-content class="content-container custom-background">
  <div class="logo-container">
    <img src="assets/Indemin-logo.png" alt="Indemin Logo" class="logo-margin">
  </div>

  <div class="list-container">
    <ion-list>
      <ion-item>
        <ion-input label="Equipo"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" mode="ios" class="boton custom-color">
      Ingresar
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>